<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
  <div class="block">
    <div>
      <img src="images/musiCartoonone.jpeg" class="img">
    </div>
    <div class="Type">
      <h2>Order Summary</h2>
    </div>
    <div class="pass">
      <p>you can now listen to millions of <br>
      songs, audiobooks and podcasts</br>on any device
      any where you like!</p>
    </div>
    <div class="power ">
      <ul class="List">
        <li class="icon">
          <i class="fa-solid fa-music"></i>
        </li>
        <div class="Annual ">
          <li class="plan">Annual Plan</li>
          <li class="year">$59.99/year</li>
        </div>
        <div class="change">
          <li>Change</li>
        </div>
      </ul>
    </div>
    <div class="payment">
      <h2>Procced to payment</h2>
    </div>
    <div class="order">
      <h3>Cancle Order</h3>
    </div>
  </div>
</body>
</html>