<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
  <div class="tamplate">
    <div>
     <img id="MusicImage" class="img" alt="MusiCartoon">
    </div>
    <script>
      document.getElementById('MusicImage').src = 'images/musiCartoonone.jpeg';
    </script>
    <div class="type">
      <h2>Order Summary</h2>
    </div>
    <div class="pass">
      <p>you can now listen to millions of <br>
        songs, audiobooks and podcasts</br>on any device
        any where you like!</p>
    </div>
    <div class="power">
      <ul class="list">
        <li class="icon">
          <i class="fa-solid fa-music"></i>
        </li>
        <li>
          <div class="annual">
            <span class="plan">Annual Plan</span>
            <span class="year">$59.99/year</span>
          </div>
        </li>
        <div class="change">
          <li>Change</li>
        </div>
      </ul>
    </div>
    <div class="payment text-center">
      <h2>Proceed to payment</h2>
    </div>
    <div class="order">
      <h3>Cancle Order</h3>
    </div>
  </div>
</body>
</html>